
sanuwave-desktop/.vscode/

sanuwave-desktop/build/

*.log

sanuwave-desktop/.clang-tidy

installs.tar.xz

*.ddeb

sanuwave-desktop/obj-x86_64-linux-gnu/

sanuwave-desktop/sanuwave-client_1.0.0-1_amd64.tar.xz

sanuwave-client_1.0.0-1_amd64.buildinfo

sanuwave-client_1.0.0-1_amd64.changes

sanuwave-desktop/.cache/

sanuwave-device/.cache/

sanuwave-device/build-test/

sanuwave-led-test/

sanuwave-desktop/cmake_user_presets.json

MMWI_PIC_common

MMWI_PIC_common-4-2-26.zip

sanuwave-device/sanuwave-device.code-workspace

debian/debhelper-build-stamp
debian/files
debian/*.substvars
debian/*.debhelper
debian/*.debhelper.log
debian/sanuwave-client/
debian/sanuwave-server/
debian/.debhelper/
